<div id='grid_gallery' class='grid-gallery'>

  <section class='grid-wrap'>
    <ul class='grid'>

      <li class='grid-sizer'></li><!-- for Masonry column width -->

      <% objects.each do |p| %>
        <li>
          <figure>
            <%= image_tag p.image.grid.url, alt: p.title %>
            <% if not p.title.empty? %>
            <figcaption><%= p.title %></figcaption>
            <% end %>
          </figure>
        </li>
      <% end %>
    </ul>
  </section>

  <div id='grid_gallery_spin' class='grid-gallery-spin'></div>

  <section class='slideshow'>
    <ul>
      <% objects.each do |p| %>
      <li>
        <figure>
          <%= image_tag p.image.large.url, alt: p.title %>
          <% if not p.title.empty? %>
          <figcaption><%= p.title %></figcaption>
          <% end %>
        </figure>
      </li>
      <% end %>
    </ul>

    <nav>
      <span class='nav-prev'></span>
      <span class='nav-next'></span>
      <span class='nav-close'></span>
    </nav>
  </section>

</div>