<div class='webmaster-photos-uploader'>
  <div class='button'>
    <input id='webmaster_photos_upload'
           type='file'
           name='<%= @form_attributes_namespace %>[image]'
           multiple=''
           data-url='<%= @form_action_url %>' /> Add files...
  </div>
</div>