<div class='chr-form-small'>
  <% if @object.persisted? %>
    <%= render partial: 'character/webmaster/photos/edit' %>
  <% else %>
    <%= render partial: 'character/webmaster/photos/new' %>
  <% end %>
</div>